.itinerary-hawaii {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/hawaii.jpg);
  background-position: center;
  background-size: cover;
}

.itinerary-iceland {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/iceland.jpg);
  background-position: center;
  background-size: cover;
}

.itinerary-greece {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/greece.jpg);
  background-position: center;
  background-size: cover;
}

.itinerary-heading {
  font-size: 3.75rem; 
  padding-left: 4rem;
  padding-top: 2rem;
  margin-top: 0;
  color: #FEFAF5;
}

.itinerary-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.friday, .saturday, .sunday {
  width: 260px;
  height: 360px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.1875rem; 
  background-color: #FFFFFF;
  margin: 0rem;
}

.itinerary-cards__name {
  text-align: center;
  width: 200px;
  border-bottom: 2px solid black;
}

.itinerary-cards__name h3 {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.125rem; 
  font-weight: 300;
}

.itinerary-cards__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.itinerary-cards__list-item {
  display: flex;
  justify-content: center;
  background-color: #FEFAF5;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
}

@media (max-width: 768px) {
  .itinerary {
    height: auto;
  }

  .itinerary-heading {
    font-size: 2.5rem; 
    padding-left: 2rem;
  }

  .friday, .saturday, .sunday {
    width: 200px;
    height: auto;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .header-logo {
    margin-left: 1rem;
    padding-left: 0;
    font-size: 0.5rem; 
  }

  .header-navbar__list {
    padding-right: 2rem;
  }

  .itinerary-heading {
    padding-left: 1rem;
  }
}
