body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 50px;
}

.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
  position: fixed;
  top: 20px;
}

.header-logo {
  color: #335576;
  margin-left: 2rem;
  padding-left: 2rem;
  font-size: .75rem;
}

.header-navbar__list {
  display: flex;
  list-style-type: none;
  padding-right: 5rem;
  margin-right: 2rem;
}

.header-navbar__link {
  display: flex;
  margin-left: 1rem;
  padding-left: 1rem;
  text-decoration: none;
  color: #335576;
  font-size: 1rem;
}

.active {
  text-decoration: underline;
  text-decoration-color: #DB7A4E;
}

.footer {
  background-color: #FEFAF5;
  color: #335576;
  display: flex;
  justify-content: space-around;
}

.footer-element__heading {
  display: flex;
  margin: auto;
}

.footer-element__subheading {
  display: flex;
  color: #DB7A4E;
}

.footer-element__hours {
  margin-right: 2rem;
}

.link {
  display: flex;
  text-decoration: none;
  color: #335576;
  font-size: 1rem;
  margin-top: 1rem;
}

.times {
  display: flex;
  font-size: 1rem;
  color: #335576; 
  margin-top: 1rem;
}

.icon {
  margin-right: 1rem;
  margin-top: 2rem;
  height: 2rem;
}
