body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  padding-top: 50px;
  margin: 0%;
}

.header {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
  position: fixed;
  top: 4px;
  /* border: 1px solid red; */
}

.header-logo {
  color: #335576;
  margin-left: 5rem;
  padding-left: 2rem;
  font-size: 12px;
  /* border: 1px solid red; */
}

.header-navbar__list {
  display: flex;
  list-style-type: none;
  padding-right: 5rem;
  margin-right: 2rem;
}

.header-navbar__link {
  display: flex;
  margin-left: .5rem;
  padding-left: 1rem;
  text-decoration: none;
  font-size: 14px;
}

.active {
  text-decoration: underline;
  text-underline-offset: .9rem;
  text-decoration-color: #DB7A4E;
  text-decoration-thickness: 3px;
}

.footer {
  background-color: #FEFAF5;
  color: #335576;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
}

.footer-element__heading {
  display: flex;
  margin: auto;
  font-size: 1.125rem;
  font-weight: 400;
}

.footer-element__subheading {
  display: flex;
  color: #DB7A4E;
  font-size: .75rem;
}

.footer-element__hours {
  margin-right: 2rem;
}

.link {
  display: flex;
  text-decoration: none;
  color: #335576;
  font-size: 1rem;
  margin-top: 1rem;
}

.times {
  display: flex;
  font-size: .9rem;
  font-weight: 100;
  color: #335576; 
  margin-top: 1rem;
}

.icon {
  margin-right: 2rem;
  margin-top: 2rem;
  height: 1.5rem;
}
