
.hero {
  display: flex;
  margin-top: 1rem;
  background-color: #FEFAF5;
  width: 100vw;
  height: 480px;
}

.hero--leftside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
  margin: auto;
  margin-top: 60px;
  padding: 1rem;
}

.hero-heading {
  display: flex;
  align-content: flex-start;
  font-size: 33px;
  color: #335576;
  text-align: left;
  margin: 1rem;
  margin-top: 1rem;
}

.hero-text {
  display: flex;
  color: #335576;
  font-size: .9rem;
  font-weight: 300;
  margin: 1rem;
  padding-top: .5rem;
}

.hero-button {
  font-size: .9rem;
  font-weight: 100;
  text-align: center;
  border-radius: 25px;
  border: none;
  background-color: #DB7A4E;
  color: #FEFAF5;
  width: 150px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 1rem;
}

.hero--rightside {
  display: flex;
  width: 50vw;
  justify-content: flex-start;
  margin: .5rem;
  padding: .5rem;
}

.hero-img {
  padding: 1rem;
  margin: 1rem;
  height: 380px;
}
