body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 50px;
}

header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
  position: fixed;
  top: 20px;
}

.header__logo {
  color: #335576;
  margin: 1rem;
  font-size: 1rem;
}

.navbar__list {
  display: flex;
  list-style-type: none;
  padding-right: 1rem;
  margin-right: 1rem;
}

.navbar__link {
  display: flex;
  margin-left: 1rem;
  text-decoration: none;
  color: #335576;
  font-size: .75rem;
}

.active {
  text-decoration: underline;
  text-decoration-color: #DB7A4E;
}

footer {
  background-color: #FEFAF5;
  color: #335576;
  display: flex;
  justify-content: space-around;
}


.footer__element--heading {
  display: flex;
  margin: auto;
}


.hours {
  display: flex;
}

.footer__element--hours {
  margin-right: 2rem;
}

.times {
  margin-top: 1rem;
  display: flex;
}

/* .social__icon {
  margin-right: 1rem;
}

span {
  margin-right: 1rem;
} */
